# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build
.next/
out/
build/
dist/

# Environment variables
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
.env
